@import "../fonts/stylesheet.css";
@import "../css/font-awesome.min.css";
@import "lesshat";
// @import "lesshat-prefixed";

// Fonts variables

@pnr: 'proxima_nova_rgregular';
@pnb: 'proxima_nova_rgbold';
@pnl: 'proxima_nova_ltlight';
@pnsb: 'proxima_nova_ltsemibold';

label.error {
  display: none !important;
}

input.error {
  box-shadow: 0 0 5px red !important;
}

.container {
  max-width: 1154px !important;
}

.cb {
  clear: both;
  display: block;
}

header {
  background: url("../img/bgimg.jpg") left center no-repeat;
  .background-size(cover);
  background-attachment: fixed;

  .logo {
    margin-top: 35px;
    margin-left: 8px;
    display: inline-block;
    width: 170px;
    float: left;

    img {
      &.black {
        display: none;
      }
    }
  }

  .collapse.navbar-collapse {
    margin-top: 20px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .transition(all .5s);
    z-index: 99;
    background-color: transparent;
    border-color: transparent;

    &.scroll {
        background: rgba(255,255,255, .95);
        -moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.20);
        box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.20);
        padding-top: 0px;


        .logo {
          img {
            &.white {
              display: none;
            }
            &.black {
              display: block;
            }
          }
        }
        .main-menu {
          a {
            color: #000;

            &:hover {
              color: #000;
            }
          }

          .active {
            a {
              color: #fff;
            }
          }

        }

        .cabinet-link {
          color: #000 !important;

          i {
            background: url(../img/svg/keycabinet_bl.svg) no-repeat !important;
          }
        }

        .order-link {
          color: #000 !important;
        }

        .lang {
          .opacity(.3);

          a{
            color: #000;

            &.active {
              border-color: rgba(0,0,0,0.4);
            }

            &:hover {
              color: #000;
            }

          }

          &:hover {
            a {
              &.active {
                border-color: #000;
              }
            }
          }
        }

    }

  }

  .navbar-nav {
    &.main-menu {
      margin-top: 10px;

      a {
        font-family: @pnb;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 8px 11px;
        .transition(all .2s);

        &:hover {
          background-color: transparent;
          color: #fff;
        }
      }

      li {
        margin: 0 1px;
        &.active {
          a {
          border-radius: 40px;
          background: #FBC153;
          padding: 8px 15px;
          margin-left: -4px;
          margin-right: -4px;
        }
        }
      }
    }

    &.lang {
      margin-top: 30px;
      margin-left: 22px;
      margin-right: 16px;
      .opacity(.5);
      .transition(opacity .2s);

      a {
        font-family: @pnl;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 8px 7px;
        display: inline-block;

        &.active {
          border-radius: 40px;
          border: 1px solid #FFFFFF;
          margin-left: -3px;
        }

        &:hover {
          background-color: transparent;
          color: #fff;
        }

      }

      &:hover {
          .opacity(1);
      }
    }

    &.cabinet-order-block {
      margin-top: 4px;

      .btn {
        margin: 0;
      }

      .cabinet-link {
        font-family: @pnr;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 16px;
        letter-spacing: 1px;
        margin-right: 8px;
        text-transform: uppercase;
        padding-left: 0;

        .icon {
          background: url("../img/svg/keycabinet_wh.svg") no-repeat;
          display: inline-block;
          width: 24px;
          height: 24px;
          float: left;
          margin-right: 6px;
          margin-top: -6px;
        }

        &:hover {
          background-color: transparent;
        }
      }

      .order-link {
        border-radius: 10px;
        border: 2px solid #FFB31A;
        margin-right: 6px;

        font-family: @pnr;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 17px;
        letter-spacing: 2px;
        padding: 20px 28px;
        margin-top: -10px;

        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  section {

    &.img-descr-block {
      text-align: center;
      margin-top: 210px;
      margin-bottom: 65px;


      h1 {
        font-family: @pnb;
        font-size: 120px;
        color: #FFFFFF;
        line-height: 115px;
        margin-bottom: 55px;

        span {
          position: relative;
        }

        .taxi {
          background: url("../img/svg/taxi-title-icon.svg") no-repeat;
          -webkit-background-size: 39px 20px;
          background-size: 39px 20px;
          width: 39px;
          height: 20px;
          display: block;
          position: absolute;
          top: 11px;
          right: 10px;
        }
      }

      img {
        max-width: 100%;
      }

    }

  }

  .benefits-block {
    color: #ffffff;
    padding-top: 20px;

    .icon-block {
      min-width: 85px;
      margin-left: 45px;
    }

    p {
      font-family: @pnr;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 23px;
    }

    .item-block {
      min-height: 140px;
    }

    .i2 {
      .icon-block {
        margin-top: 4px;
      }
    }
    .i3 {
      .icon-block {
        margin-top: -10px;
      }
    }
    .i6 {
      .icon-block {
        margin-top: -10px;
      }
    }
  }
}

.tabs-slider-block {
  text-align: center;
  padding-bottom: 40px;

  &.benefits {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  h2 {
    font-family: @pnr;
    font-size: 80px;
    color: #000000;
    line-height: 98px;
  }

  .nav-tabs {
    display: inline-block;
    .border-radius(22px);
    border: none;
    margin-top: 15px;
    margin-bottom: 95px;

    a {
      border: none !important;
      background-color: transparent;
      border-radius: 0;
      font-family: @pnr;
      font-size: 15px;
      color: #000000;
      line-height: 18px;
      letter-spacing: 1px;
      margin: 0;
      // border-right: 2px solid #E8E8E8 !important;
      padding: 10px 25px;
    }

    li {
      margin: 0;
      border-top: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8;
      border-right: 2px solid #E8E8E8;

      &.active {
        border: none !important;

        a {
          background: #F78107 !important;
          color: #ffffff !important;
          margin-left: -2px !important;
          padding: 12px 27px;
        }
      }

      &:first-child {
        border-left: 2px solid #E8E8E8;
        .border-top-left-radius(22px);
        .border-bottom-left-radius(22px);

        a {
          .border-top-left-radius(22px);
          .border-bottom-left-radius(22px);
        }
        &.active {
          border-left: none;
          margin-left: 2px;

          a {
            border-left: transparent !important;
          }
        }
      }

      &:last-child {
        border-right: 2px solid #E8E8E8;
        .border-top-right-radius(22px);
        .border-bottom-right-radius(22px);

        a {
          .border-top-right-radius(22px);
          .border-bottom-right-radius(22px);
          border-right: none !important;
          margin-left: 0;
        }
      }
    }
  }

  .item {
    text-align: left;
    float: none !important;
    margin: 0 auto;
    padding: 0 70px;

    .img-block {
      text-align: center;
    }

    h2 {
      font-family: @pnl;
      font-size: 50px;
      color: #000000;
      //  Old size
      // line-height: 24px;
      line-height: 50px;
      margin-bottom: 40px;
      margin-top: 0;
    }

    p {
      font-family: @pnl;
      font-size: 22px;
      color: #000000;
      line-height: 35px;
    }

    img {
      width: 100%;
    }
  }

  .carousel-indicators {
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 100%;
    margin-top: 45px;

    li {
      width: auto;
      height: auto;
      display: inline-block;
      text-indent: 0px;
      border: none;
      margin: 15px;

      &.active {
        width: auto;
        height: auto;
        border-radius: 8px;
        background: #F6F6F6;
        padding: 10px;
        margin: 5px;
      }

      img {
        max-width: 40px;
      }
    }
  }

  .carousel-control {
    background-image: none !important;
    .opacity(1);

    span {
      font-family: FontAwesome;
      font-size: 50px;
      color: #E8E8E8;
      line-height: 51px;
      text-shadow: none;
      position: absolute;
      top: 50%;
      margin-top: -110px;
    }

    &.left {
      span {
        left: 0;
      }
    }
    &.right {
      span {
        right: 0;
      }
    }

  }
}

.mobile-app {
  background: url("../img/mobile-app.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 25px;
  padding-bottom: 80px;

  h2 {
    text-align: center;
    font-family: @pnb;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 61px;
    margin-bottom: 60px;
  }

  .list-block {
    margin-top: 115px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 50px;

      li {
        cursor: pointer;

        span {
          .transition(all .2s);
        }

        &:hover {
          span {
            background: #fff;
            color: #f4a60b;
          }
        }
      }

      span {
        float: left;
        position: absolute;
        border: 1px solid #FFFFFF;
        font-family: @pnl;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding-top: 2px;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 26px;
        left: -45px;
        top: 0;
      }

      p {
        float: left;
        font-family: @pnr;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 25px;
      }

      li {
        position: relative;
        margin-bottom: 40px;

        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }



  .subcribe-block {
    text-align: center;
    padding-top: 60px;

    img {
      margin-left: -15px;
    }

    form {
      margin-top: 68px;
    }

    p {
      font-family: @pnr;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 25px;
      margin-top: 30px;
    }

    input {
      .border-radius(5px);
      background: #FFFFFF;
      border: none;
      width: 70%;
      display: inline-block;
      min-height: 64px;
      text-align: center;
      padding: 0 10px;
      font-family: @pnl;
      font-size: 30px;
      .placeholder(#E8E8E8);
    }

    button {
      border-radius: 5px;
      border: 2px solid #FFFFFF;
      background-color: transparent;

      width: 70%;
      min-height: 57px;
      font-family: @pnb;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 17px;
      letter-spacing: 1px;
      margin-top: 20px;
    }
  }

  .iphone-block {
    text-align: center;
    position: relative;
  }

  .screen {
    background: #FFFFFF;
    position: absolute;
    top: 97px;
    bottom: 94px;
    width: 247px;
    left: 50%;
    margin-left: -122px;
    .border-radius(5px);

    .logo {
      margin-top: 135px;
      margin-bottom: 165px;
    }


    .btn {
      border-radius: 10px;
      border: 2px solid #FFB31A;
      display: inline-block;
      width: 60%;
      height: 63px;

      font-family: @pnsb;
      font-size: 13px;
      color: #000000;
      line-height: 59px;
      letter-spacing: 1px;
      text-decoration: none;
      .transition(all .3s);

      &:hover {
        background-color: transparent;
      }

    }
  }
}

.plans {
  padding-bottom: 60px;

  .container {
    max-width: 915px !important;
  }

  h2.title {
    text-align: center;
    font-family: @pnr;
    font-size: 80px;
    color: #000000;
    line-height: 98px;
    position: relative;
    margin-bottom: 80px;
    margin-top: 70px;

    .btn {
      float: right;
      border-radius: 10px;
      border: 2px solid #FFB31A;

      font-family: @pnr;
      font-size: 14px;
      color: #000000;
      line-height: 17px;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 18px 32px;
      position: absolute;
      right: -15px;
      bottom: 15px;
    }
  }

  .main-plans, .other-plans {
    border-radius: 8px;
    padding: 30px;
  }

  .main-plans {
    background: #F6F6F6;
    padding-top: 50px;
  }

  h3 {
      font-family: @pnr;
      font-size: 40px;
      color: #999999;
      line-height: 49px;
      margin-top: 0;
    }

    p.price {
      font-family: @pnb;
      font-size: 40px;
      color: #000000;
      line-height: 40px;
      margin-bottom: 0;
      display: inline-block;

      span {
        font-family: @pnr;
        font-size: 24px;
      }
    }

    .price-block {
      >span {
        display: inline-block;
        font-family: @pnr;
        font-size: 18px;
        color: #999999;
        line-height: 22px;
      }

      .descr {
        margin-bottom: 10px;
      }
    }

    span.right-block {
      margin-left: 30px;
    }

  .row {
    padding-top: 10px;

    &.r1 {
      padding-top: 0px;

      .price {
        margin-top: 5px;
      }
    }

    &.r2 {
      padding-top: 15px;
      padding-bottom: 25px;

      .price {
        margin-top: 5px;
      }

      h3 {
        margin-top: 40px;
      }
    }

    &.r3 {
      padding-top: 40px;
      padding-bottom: 25px;

      .price {
        margin-top: 5px;
      }
    }

    &.r4 {
      padding-top: 35px;
      padding-bottom: 25px;

      .price {
        margin-top: 5px;
      }
    }
  }

  hr {
    border-top: 1px solid #D5D5D5;
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 11px;
  }

  .other-plans {
    .r1 {
      padding-top: 20px;
      padding-bottom: 15px;
    }

    .r2 {
      padding-top: 35px;

      h3 {
        margin-top: 0px;
      }

      .right-block {
        position: relative;
        top: 10px;
      }
    }
  }

  .tel-block {
    border-radius: 8px;
    border: 1px solid #D5D5D5;
    font-family: @pnl;
    font-size: 20px;
    color: #000000;
    line-height: 20px;
    max-width:  487px;
    margin: 40px auto;
    position: relative;  
    left: 13px;
    padding: 16px 25px;

    p {
      display: inline-block;
      margin-top: 10px;
    }

    h2 {
      display: inline-block;
      font-family: @pnl;
      font-size: 40px;
      color: #000000;
      line-height: 20px;
      position: relative;
      padding-left: 10px;
      float: right;


      .tel {
        background: url(../img/svg/callusicon.svg) no-repeat;
        display: inline-block;
        width: 50px;
        height: 62px;
        position: absolute;

        left: -45px;
        top: -20px;
      }
    }
  }
}

.reviews {
    background: #343A3C;
    padding-top: 60px;
    padding-bottom: 105px;

    h2 {
      font-family: @pnb;
      font-size: 50px;
      color: #FFFFFF;
      line-height: 61px;
      text-align: center;
      margin-bottom: 75px;
    }

    .rev-block {
        display: inline-block;
        padding: 15px;

        &:hover {
          border-radius: 14px;
          background: rgba(255,255,255,0.20);
        }

      img {
        .border-radius(50%);
        float: left;
      }

      article {
        float: right;
        width: 70%;
      }

      p {
        font-family: @pnl;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 20px;
      }

      .author {
        font-family: @pnb;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 20px;

        &.twitter {
          background: url(../img/svg/feedback_twi_wh.svg) 0 3px no-repeat;
          padding-left: 21px;
        }

        &.facebook {
          background: url(../img/svg/feedback_fb_wh.svg) 0 3px no-repeat;
          padding-left: 23px;
          padding-top: 2px;
        }
      }
    }
    .item {
      float: none !important;
      margin: auto;
      padding: 0 70px;
    }

    .carousel-control {
      background-image: none !important;
      .opacity(1);
      width: 20px;

      span {
        font-family: FontAwesome;
        font-size: 50px;
        color: #E8E8E8;
        line-height: 51px;
        text-shadow: none;
        position: absolute;
        top: 50%;
        margin-top: -25px;
      }

      &.left {
        span {
          left: 0px;
        }
      }
      &.right {
        span {
          right: 0px;
        }
      }

    }

}

.about-us {
  padding-top: 45px;

  h2 {
    margin-bottom: 20px;
  }

  .nav-tabs {
    a {
      text-transform: uppercase;
      font-size: 15px;
      color: #000000;
      line-height: 18px;
      letter-spacing: 1px;
      padding: 10px 40px;
    }
    .active {
      a {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding: 12px 40px !important;

      }
    }
  }

  .tab-pane {
    text-align: left;
  }

  #mission {
    >.row {
      margin: 0 auto;
      float: none;
    }

    h3 {
      font-family: @pnr;
      font-size: 36px;
      color: #000000;
      line-height: 50px;
      margin-top: 0;

      strong {
        font-weight: normal;
        font-family: @pnb;
      }
    }

    p {
      font-family: @pnl;
      font-size: 22px;
      color: #000000;
      line-height: 35px;
      margin-bottom: 40px;
    }
  }
}


footer {
  background-image: -o-linear-gradient(-89deg, #FFFFFF 0%, #F1F1F1 100%);
  background-image: -moz-linear-gradient(-89deg, #FFFFFF 0%, #F1F1F1 100%);
  background-image: -ms-linear-gradient(-89deg, #FFFFFF 0%, #F1F1F1 100%);
  background-image: linear-gradient(-179deg, #FFFFFF 0%, #F1F1F1 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: @pnr;

  .left-block {
    p {
      font-size: 16px;
      color: #999999;
      line-height: 20px;
    }

    a {
      font-size: 16px;
      color: #999999;
      line-height: 20px;
      text-decoration: underline;
      display: inline-block;
      margin-top: 19px;
    }
  }

  .menu-copyright-block {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        text-decoration: underline;
        font-family: @pnr;
        font-size: 16px;
        color: #999999;
        line-height: 20px;
        margin-bottom: 11px;
        display: inline-block;
      }
    }
  }
  .copyright {
    text-align: right;
    font-family: @pnr;
    font-size: 16px;
    color: #999999;
    line-height: 20px;

    a {
      color: #999999;
      text-decoration: underline;
    }

  }
}


#investors {
  margin-top: -50px;
  padding: 0 150px 40px;

  .investors_calc-block {
    margin-top: 50px;
  }

  .inverstors__title {
      p {
        font-family: @pnl;
        font-size: 22px;
        color: #000000;
        line-height: 35px;
      }
  }

  .investors__cars {
    border-radius: 8px;
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 27px;

    .investors__reload {
      background: url(../img/svg/reload.svg) no-repeat;
      display: inline-block;
      width: 30px;
      height: 24px;
    }

    .investors__img-block {
      img {
        margin-top: 15px;
      }
    }

    .investors__descr {
      margin-top: 55px;

      h2 {
        font-family: @pnb;
        font-size: 30px;
        color: #000000;
        line-height: 30px;
      }

      p {
        color: #A69999;
        font-size: 24px;
        line-height: 24px;
        font-family: @pnr;
      }

      hr {
        border-color: #E8E8E8;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .investors__price {
        font-family: @pnb;
        font-size: 50px;
        color: #000000;
        line-height: 50px;
      }
    }
  }

  .investors__calc {
      .equally {
        font-family: @pnr;
        font-size: 50px;
        color: #999999;
        line-height: 50px;
        margin-top: 150%;
        display: inline-block;
      }

      .text-left {
        margin-top: 20px;

        p {
          font-family: @pnb;
          font-size: 40px;
          color: #000000;
          line-height: 40px;
          margin-bottom: 0;

          .or {
            font-size: 24px;
            font-weight: normal;
            font-family: @pnr;
            margin-left: -5px;
          }

          .procent {
            font-size: 40px;
            line-height: 50px;
            font-family: @pnr;
          }
        }

        hr {
          margin-top: 12px;
        }
      }

      .time {
        font-family: @pnl;
        font-size: 22px;
        color: #999999;
        line-height: 50px;
        display: inline-block;
        margin-top: -10px;
      }

      .btn {
        border-radius: 100px;
        border: 2px solid #FFB31A;
        font-family: @pnr;
        font-size: 14px;
        color: #000000;
        line-height: 17px;
        letter-spacing: 2px;
        display: inline-block;
        padding: 14px 20px;
        margin-top: 40px;
      }
    }
}

#team {
  margin-top: -35px;
  margin-bottom: 80px;

  .team__descr {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 55px;

    p {
      font-family: @pnl;
      font-size: 22px;
      color: #000000;
      line-height: 35px;
    }
  }
  .m-block {
    text-align: center;
    text-decoration: none;

    img {
      display: inline-block;
      max-width: 200px;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 36px;
      line-height: 50px;
      font-family: @pnr;
      margin-bottom: 0;
    }

    p {
      color: #979797;
      font-size: 22px;
      line-height: 27px;
      font-family: @pnr;
    }
  }
  .carousel-control span {
    margin-top: -95px;
  }
}

#press {
  padding: 0 35px;
  margin-top: -30px;
  padding-bottom: 60px;

  .press__icons-block {
    .opacity(.5);
    .transition(all .5s);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;

    &:hover {
      .opacity(1);
    }

    img {
      margin: 0 25px;
    }
  }

  .press__list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      span {
        display: block;
        font-family: @pnr;
        font-size: 14px;
        color: #999999;
        line-height: 35px;
      }

      a {
        font-family: @pnl;
        font-size: 18px;
        color: #000000;
        line-height: 22px;
      }
    }
  }

  .today_lists {
    ul {
      a {
        font-family: @pnl;
        font-size: 36px;
        color: #000000;
        line-height: 50px;
      }
    }
  }
}

//  Modal styles
.modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: rgba(45,51,53,0.97);
  overflow-y: auto;

  .modal-content {
    background-color: transparent;
    color: #fff;
    padding: 0 0 0 100px;
  }
}